.container
	.task-header
		%h2= @task.title
		= render partial: 'common/dropdown.html.haml', locals: {edit_path: edit_board_task_path(id: @task.id, board_id: @task.board_id), delete_path: board_task_path(id: @task.id, board_id: @task.board_id)}
	%p.task-header-deadline= "deadline - #{@task.deadline}"
	- if @task.eyecatch.attached?
		= image_tag @task.eyecatch, alt: 'タスクのアイキャッチ', class: 'task-eyecatch'
	.task-text
		= @task.content
	%h3 Comment
	- if @task.has_comment?(params[:id])
		.comment-board
			- @task.comments.where(task_id: @task.id).each do |comment|
				.comment-card
					= image_tag User.find(comment.user_id).profile.avatar, alt: 'コメント者のアイコン画像', class: 'commenter-icon'
					%span.comment-text= comment.comment

	= link_to new_board_task_comment_path(task_id: @task.id), class: 'link-text' do
		.comment-new
			%p+ Add new comment
	-# コメント追加機能
	= link_to 'タスク一覧', board_tasks_path, class: 'btn--link'
