.container
	%h2 All Boards
	- @boards.each do |board|
		.boards
			.boards-header
				%h3= link_to board.title, board_tasks_path(board), class: 'boards-title'
				- if current_user.id == board.user_id
					= render partial: 'common/dropdown', locals: {edit_path: edit_board_path(board), delete_path: board_path(board)}
			= simple_format(h(board.description), class: 'boards-description')
			.boards-user-info
				= image_tag @user.has_avatar?(board.user_id), alt: 'ユーザーアイコン', class: 'boards-author-icon'
				%span.boards-user-name= @user.has_nickname?(board.user_id)
	= link_to new_board_path, class: 'link-text' do
		.boards-new
			%p+ Add new card
