.container
	%h2 All Boards
	%div
		- @boards.each do |board|
			.boards
				.boards-header
					%h3= board.title
					- if current_user.id == board.user_id
						.dropdown
							= image_tag 'CombinedShape.svg', alt: '編集用ボタン'
							.dropdown-content
								%ul.dropdown-menu
									%li.dropdown-menu-item
										= link_to 'Edit', edit_board_path(board), class: 'dropdown-menu-item--link'
									%li.dropdown-menu-item
										= link_to 'Delete', board_path(board),  method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'dropdown-menu-item--link'
				%p.boards-description= board.description
	.boards-new
		= link_to '+ Add new card', new_board_path
