.container
	%h2= title
	- if board.errors.any?
		%ul
			- board.errors.full_messages.each do |message|
				%li= message
	= form_with(model: board, url: path, method: method, local: true) do |f|
		.card
			.card-item
				= f.label :title, :Title, class: 'card-label'
				= f.text_field :title, class: 'card-text'
			.card-item
				= f.label :description, class: 'card-label'
				= f.text_area :description, class: 'card-textArea'
		= f.submit 'Submit', class: 'btn-primary'
