!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title UZer0Todoapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .container
        .header-item
          .header--link
            %h2.header-text
              = link_to 'Boards', boards_path
          - if user_signed_in?
            .header--icon
              .dropdown
                = image_tag current_user.has_avatar?(current_user.id), alt: 'ユーザーアイコン'
                .dropdown-content
                  %ul.dropdown-menu
                    %li.dropdown-menu-item
                      = link_to 'Profie', profile_path, class: 'dropdown-menu-item--link'
                    %li.dropdown-menu-item
                      = link_to 'SignOut', destroy_user_session_path, method: :delete, class: 'dropdown-menu-item--link'
        .flash-area
          - flash.each do |k, v|
            = v
    = yield
